<div *ngFor="let livre of livres">
    <h3>{{ livre.titre }}</h3>
    <p><strong>Autor:</strong> {{ livre.auteur }}</p>
    <p><strong>Descrição:</strong> {{ livre.description }}</p>
    <p><strong>Data de Edição:</strong> {{ livre.dateEdition }}</p>
    <p><strong>Maison d'édition:</strong> {{ livre.maisonEdition }}</p>
    <p><strong>Categoria:</strong> {{ livre.categorie }}</p>
    <p><strong>Número de Comando:</strong> {{ livre.numeroCommande }}</p>
    <p>__________________________________________________________________________________________  </p>
  </div>